table {
    border-collapse: collapse;
    width: 100%;
}

thead > tr {
    background-color: #f09904;
}

td, th {
    border: 1px solid #dddddd;
    border-right-style: none;
    border-left-style: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
